<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms.availabeRooms > 0 ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>
<button (click)="toggle()">Toggle</button>

<button (click)="addRoom()">Add Room</button>

<div *ngIf="selectedRoom">{{ selectedRoom | json }}</div>

<!-- {{ rooms?.availabeRooms ?? "No rooms Available" }} -->

<div *ngIf="rooms.availabeRooms > 0">
  <hinv-rooms-list
    [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></hinv-rooms-list>
</div>
